.passwordInput input {
    padding: 10px;
    width: 100%;
    
}
.passwordInput div {
     &::after {
        border-color: rgb(203, 0, 203);
    }
}

.inputWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-xs);
}


.error {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: red;
}