.todo {
    padding-inline: var(--padding-xs);
    padding-block: var(--padding-xs);
    background-color: white;
    border-radius: var(--radius-s);
    width: 100%;
}

.taskInput {
    padding: var(--padding-s);
    padding-left: 0;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;

}