$avatarSize: 25px;

.comment {
    margin-bottom: var(--margin-xs);
    
}
.user {
    display: flex;
    align-items: first baseline;
    gap: 5px;
    .avatar {
       width: $avatarSize;
       height: $avatarSize;
       font-size: 14px;
    }
}

.userName {
    margin: 0;
}

.userMessage {
}

.message {
    margin:  0;
    margin-left: $avatarSize + 5px;
    line-height: 16px;
}
